/* 모달창 content */
body {
  background-color: #141414;
  margin: 100px auto;
}
/* 모든 버튼 일괄 적용 (특정 버튼 따로 적용 필요) */
button {
  background-color: transparent;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border: 1px solid #ffffff;
  font-size: 1em;
}

/* 모든 버튼에 hover */
button:hover {
  cursor: pointer;
}
.btn-area {
  display: flex;
  margin-left: 33%;
}
.review-button,
.movie-list-btn {
  display: block;
  margin: 20px;
  margin-top: 50px;
  margin-left: 125px;
}
.movie-list-btn {
  margin-right: 15px;
}
.review-textarea {
  margin-top: 50px;
}
#nickName {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  margin-left: 15px;
}
#pwd {
  width: 65px;
  height: 30px;
  border-radius: 5px;
}
.text-count {
  color: gray;
  padding: 0px 0px 0px 12px;
  position: relative;
  bottom: 30px;
  font-size: 20px;
}
#review {
  font-size: 20px;
}

/* 모달창 구현 css*/
/* 버튼 전체 적용되서 모달 안 버튼으로 세부 적용 처리 */
input {
  width: 100%;
  box-sizing: border-box;
}
.md_content > button {
  background-color: black;
  color: white;
  padding: 15px 25px;
  /* border-radius: 10px; */
  cursor: pointer;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.md_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}
.md_content {
  position: relative;
  padding: 100px 70px;
  background-color: #141414;
  border-radius: 10px;
  border: 1px solid #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  background-color: #141414;
  color: #ffffff;
}
.md_close_btn {
  float: right;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
.review-box > button {
  float: right;
}
.submit_btn {
  width: 120px;
}

/* 댓글 css */
@media (max-width: 1000px) {
  .board_wrap {
    width: 100%;
    min-width: 200px;
    padding: 0 30px;
    box-sizing: border-box;
  }
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.board_wrap {
  padding-left: 12%;
  padding-right: 12%;
  margin: 5%;
  color: #ddd;
}
.movie-list-btn {
  float: right;
}

.review-text-outerBox {
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: #141414;
  box-shadow: 0px 3px 10px 0px #000000;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  /* height: 250px; */
}
/* 수정, 삭제 버튼을 같은 라인 우측 끝으로 위치하기 위해 */
.review-header {
  display: flex;
  /* margin: auto; */
  background-color: #000000;
  /* border-bottom: 1px solid #ffffff; */
}
.modify-btn,
.delete-btn {
  margin-top: 20px;
  margin-right: 10px;
}
.modify-btn {
  /* Layout Properties */
  width: 25px;
  height: 25px;
  /* UI Properties */
  background: transparent url("../image/Icon material-edit.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  /* 자동으로 들어가는 버튼 보더 지우기 */
  border-width: 0;
}
.delete-btn {
  /* Layout Properties */
  width: 25px;
  height: 25px;
  /* UI Properties */
  background: transparent url("../image/Icon material-delete.png") 0% 0%
    no-repeat padding-box;
  opacity: 1;
  /* 자동으로 들어가는 버튼 보더 지우기 */
  border-width: 0;
}

.list-div {
  display: flex;
  padding: 5px;
  margin: auto;
}
.list-div > div {
  padding: 20px;
  margin: auto;
}
.list-btn {
  margin-right: 0;
}
.review-text-innerBox {
  width: 80%;
  height: 80%;
  /* background-color: #141414; */
  padding: 50px;
  margin: auto;
}
.review-text {
  margin: 20px 0 50px 0;
  font-size: 20px;
  text-align: center;
}

/* 추천 비추천 css */
.like,
.hate,
.like-success{
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: scale 0.3s;
  margin: 5px;
}
.like:hover,
.hate:hover{
  scale: 1.2;
}


/* 메인 버튼 */
.go-main {
  display: flex;
}
/* 영화 상세 */
.movie {
  color: white;
  margin-top: 80px;
  margin-left: 20%;
  margin-right: 20%;
}
/* 영화 이미지 박스 */
.movie-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
/* 영화 포스터 */
.movie-img > img {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
/* 이미지 우측 내용 --> 하단으로 조정*/
.content {
  display: inline;
  text-align: center;
  margin: 50px;
  line-height: 25px;
}
/* 영화 제목 */
.movie-title {
  margin-top: 20px;
  font-size: 1.8em;
  font-weight: bold;
}
/* 소제목 */
.original-title {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 30px;
}
.release-date,
.vote-average,
.runtime,
.vote-count {
  margin-bottom: 5px;
  font-size: 1.2em;
}

.overview {
  margin-top: 40px;
  padding-left: 8%;
  padding-right: 8%;
  font-size: 1.2em;
  line-height: 32px;
}
/* .release-date {
  float: left;
  margin: 10px 50px 10px auto;
}
.vote-average {
  margin: 40px auto 10px auto;
}
.runtime {
  margin: auto 89px 30px auto;
  float: left;
}
.vote-count {
  margin: auto auto 30px auto;
} */
